<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.holyWaterTemple.share">

    <application
        >
        <activity
            android:name="com.holyWaterTemple.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    </application>

</manifest>
